[submodule "external/meh_hash"]
	path = external/meh_hash
	url = https://github.com/M-ihal/meh_hash.git
[submodule "external/string_viu"]
	path = external/string_viu
	url = https://github.com/M-ihal/string_viu.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/meh_dynamic_array"]
	path = external/meh_dynamic_array
	url = https://github.com/M-ihal/meh_dynamic_array.git
